/* Menu */
.navbar {
    background-color: $color-VerdeClaro;
    height: 100px;
    .navbar__logo {
        float: left;
        width: 225px;
        margin: 10px;
    }
    .navbar-collapse {
        background-color: $color-VerdeClaro;
        .navbar-nav {
            list-style: none;
            font-size: 45px;
            margin-bottom: 0rem;
            .nav-link {
                text-decoration: none;
                color: $color-VerdeOscuro;
                font-family: "Roboto", sans-serif;
                font-weight: 200;
                font-size: 20px;
                margin-right: 20px;
                text-align: right;
                &:hover {
                    text-decoration: none;
                    color: $color-VerdeOscuro;
                    font-weight: 500;
                    border-bottom: 1px solid;
                    text-align: right;
                    }
                }
        }
    }
}


/* Footer */
.footer {
    background-color: $color-Azul;
    color: $color-Blanco;
    font-family: "Roboto", sans-serif;
    font-weight: 0;
    padding: 30px;
    height: 280px;
    .footer__logo {
        float: right;
        width: 230px;
        opacity: 30%;
        }
    .footer__secciones {
        .SeccionFooter {
            text-decoration: none;
            color: $color-Blanco;
            font-weight: 200;
            line-height: 25px;
            &:hover {
                text-decoration: none;
                color: $color-Blanco;
                border-bottom: 1px solid;
                }
            }
        }
    .footer__redes {
        margin-top: 30px;
        .BotonesRedes {
            margin: 10px;
            }
        }
    }



/* Responsive MOBILE */
@media (max-width: 576px) {
    .navbar {
        .navbar__logo {
            width: 150px;
        }
    }

    .footer__logo {
        display: none;
    }
}