/* Sobre Nosotros */
.Carrousel {
    margin-top: 0px;
    width: 100%;
    margin-bottom: 50px;
    .carousel-inner img {
        width: 100%;
        margin-top: 0px;
    }
}

.staff {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 70px;
    .staff__miembro {        
        margin: 0px 120px 20px 120px;
        img {
            text-align: center;
        }
        .FotoRedonda {
            width: 250px;
            margin: 25px;
            border: 5px solid $color-VerdeIntermedio;
            box-sizing: border-box;
            border-radius: 177px;
        }
    }
}

