/* Sobre Nosotros */
.Carrousel {
    padding-top:100px;
    margin-top: 0px;
    width: 100%;
    margin-bottom: 50px;
    .carousel-inner img {
        width: 100%;
        margin-top: 0px;
    }
}

.staff {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px 170px 70px 170px;
    .staff__miembro {        
        margin: 30px 60px 20px 60px;
        img {
            text-align: center;
        }
        .FotoRedonda {
            width: 180px;
            margin: 25px;
            border: 5px solid $color-VerdeIntermedio;
            box-sizing: border-box;
            border-radius: 177px;
        }
        .Nombre, .Profesion {
            text-align: center;
        }
    }
}



/* Contactanos */
.contacto {
    padding-top:100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 60px 120px;
    .contacto__titulares {
        width: 20%;
        min-width: 300px;
        max-width: 350px;
        h1 {
            font-size: 45px;
        }
    }
    .contacto__form {
        width: 60%;
        min-width: 300px;
        align-self: flex-start;
        fieldset {
            font-family: "Roboto", sans-serif;
            color: #00055C;
            margin-left: 30px;
            padding: 15px;
            input, select, .form-check, button {
                margin-bottom: 15px;
            }
        }
        .BotonesForm {
            .BotonEnviar {
                background-color: $color-VerdeIntermedio;
                width: 120px;
                margin: 15px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px;
                border-radius: 77px;
                text-decoration: none;
                font-family: "Roboto", sans-serif;
                font-style: bold;
                color: $color-Azul;
                &:hover {
                    text-decoration: none;
                    background-color: $color-Azul;
                    color: $color-VerdeIntermedio;
                    transition-duration: 0.5s;
                }
            }
        }
        .BotonBorrar {
            width: 100px;
            margin: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            font-family: "Roboto", sans-serif;
            font-style: bold;
            color: $color-Azul;
            &:Hover {
                text-decoration: none;
                color: $color-Azul;
                border-bottom: 1px solid;
            }
        }
    }
}




/* Responsive TABLET */

@media (min-width: 577px) and (max-width: 991px) {

    .staff {
        margin: 0px 60px 70px 60px;
        h2 {
            font-size: 40px;
            line-height: 57px;
        }
    }

    .contacto {
        margin: 60px 60px;
        .contacto__titulares {
            text-align: center;
            width: 100%;
        }
        .contacto__form {
            width: 100%;
            fieldset {
                margin-left: 0px;
                }
            }
        }
}



/* Responsive MOBILE */

@media (max-width: 576px) {

    .Carrousel {
        .carousel-inner img {
            height: 300px;
            width: auto;
            background-position: center;
        }
    }
    .staff {
        margin: 0px 30px 70px 30px;
        h2 {
            font-size: 25px;
            line-height: 35px;
        }
        .staff__miembro { 
            .FotoRedonda {
                width: 120px;
            }
        }
    }

    .contacto {
        margin: 30px 30px;
        .contacto__titulares {
            width: 100%;
            text-align: center;
            h1 {
                font-size: 30px;
                line-height: 40px;
            }
        }
        .contacto__form {
            width: 100%;
            fieldset {
                margin-left: 0px;
                input, select, .form-check, button {
                    margin-bottom: 25px;
                }
            }
        }
    }
}