@charset "UTF-8";
/* COLORES */
/* Menu */
@import url("https://use.typekit.net/zku8mhy.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
.navbar {
  background-color: #f7ffcc;
  height: 100px;
}

.navbar .navbar__logo {
  float: left;
  width: 225px;
  margin: 10px;
}

.navbar .navbar-collapse {
  background-color: #f7ffcc;
}

.navbar .navbar-collapse .navbar-nav {
  list-style: none;
  font-size: 45px;
  margin-bottom: 0rem;
}

.navbar .navbar-collapse .navbar-nav .nav-link {
  text-decoration: none;
  color: #1A6534;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 20px;
  margin-right: 20px;
  text-align: right;
}

.navbar .navbar-collapse .navbar-nav .nav-link:hover {
  text-decoration: none;
  color: #1A6534;
  font-weight: 500;
  border-bottom: 1px solid;
  text-align: right;
}

.navbar .navbar-collapse .navbar-nav .active {
  text-decoration: none;
  color: #1A6534;
  font-weight: 600;
}

/* Footer */
.footer {
  background-color: #00055C;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 0;
  padding: 30px;
  height: 280px;
}

.footer .footer__logo {
  float: right;
  width: 230px;
  opacity: 30%;
}

.footer .footer__secciones .SeccionFooter {
  text-decoration: none;
  color: #ffffff;
  font-weight: 200;
  line-height: 25px;
}

.footer .footer__secciones .SeccionFooter:hover {
  text-decoration: none;
  color: #ffffff;
  border-bottom: 1px solid;
}

.footer .footer__redes {
  margin-top: 30px;
}

.footer .footer__redes .BotonesRedes {
  margin: 10px;
}

/* Responsive MOBILE */
@media (max-width: 576px) {
  .navbar .navbar__logo {
    width: 150px;
  }
  .footer__logo {
    display: none;
  }
}

/* Hero */
.Hero {
  background-color: #f7ffcc;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 100%;
  padding-top: 100px;
}

.Hero .HeroGrid {
  padding: 0px 120px 30px 120px;
  max-width: none;
}

.Hero .HeroGrid .hero__titular span {
  -webkit-animation-name: titilar;
          animation-name: titilar;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.Hero .HeroGrid .hero__bajada {
  margin: 25px 0px 40px 0px;
}

.Hero .HeroGrid .hero__botones .BotonDescargar {
  background-color: #CDDC6D;
  width: 120px;
  margin: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  border-radius: 77px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-style: bold;
  color: #00055C;
}

.Hero .HeroGrid .hero__botones .BotonDescargar:hover {
  text-decoration: none;
  background-color: #00055C;
  color: #CDDC6D;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.Hero .HeroGrid .BotonMasInfo {
  width: 100px;
  margin: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-style: bold;
  color: #00055C;
}

.Hero .HeroGrid .BotonMasInfo img {
  width: 26px;
  padding: 5px;
}

.Hero .HeroGrid .BotonMasInfo:Hover {
  text-decoration: none;
  color: #00055C;
  border-bottom: 1px solid;
}

.Hero .HeroGrid .BotonMasInfo:Hover img {
  text-decoration: none;
  -webkit-transform: translate(20px, 0px);
          transform: translate(20px, 0px);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.Hero .HeroGrid .hero__img {
  background-repeat: no-repeat;
  background-size: cover;
}

@-webkit-keyframes titilar {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes titilar {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.TituloSecundario {
  padding: 70px 120px;
}

/* Secciones Index */
.SeccionBeneficios {
  margin-top: 20px;
  padding: 0px 120px;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

.SeccionObjetivo {
  margin: 40px 0px;
  padding: 0px 120px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse;
          flex-flow: row-reverse;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

.Caja1 img {
  width: 100%;
  min-height: 250px;
  border-radius: 40px;
  -o-object-fit: cover;
     object-fit: cover;
}

.Caja2 {
  margin-top: 8px;
  padding: 20px;
  color: #00055C;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 25px;
  list-style-type: circle;
  list-style-position: inside;
}

/* Sección Testimonios */
.testimonios {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#F8FED1), color-stop(91.73%, rgba(248, 254, 209, 0)));
  background-image: linear-gradient(360deg, #F8FED1 0%, rgba(248, 254, 209, 0) 91.73%);
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 600px;
  max-height: 6000px;
}

.testimonios .testimonios__titulo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.testimonios .container .testimonios__cards {
  margin: 40px 30px 0px 30px;
  justify-items: stretch;
}

.testimonios .container .testimonios__cards .card {
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-radius: 25px;
  -webkit-box-shadow: 0px 0px 15px 7px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 15px 7px rgba(0, 0, 0, 0.05);
}

.testimonios .container .testimonios__cards .card img {
  margin-top: 16px;
  border-radius: 22px;
}

.testimonios .container .testimonios__cards .card .card-body {
  font-family: Filson Pro;
  color: #00055C;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 22px;
  margin-top: 10px;
  padding-left: 0px;
}

/* Newsletter */
.newsletter {
  background-color: #f7ffcc;
  padding: 0px 120px 100px 120px;
  text-align: center;
}

.newsletter .card {
  width: 60%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 25px;
  padding: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 0px 0px 15px 7px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 15px 7px rgba(0, 0, 0, 0.05);
}

.newsletter .card .newsletter__titulo {
  line-height: 60px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.newsletter .card .newsletter__bajada {
  margin: 40px 0px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

/* Responsive TABLET */
@media (min-width: 577px) and (max-width: 991px) {
  .Hero .HeroGrid {
    padding: 0px 0px 30px 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse;
            flex-flow: column-reverse;
  }
  .Hero .HeroGrid .hero__titular {
    margin-top: 20px;
    text-align: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-size: 50px;
    line-height: 60px;
  }
  .Hero .HeroGrid .hero__bajada {
    text-align: center;
  }
  .Hero .HeroGrid .hero__botones {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .TituloSecundario {
    font-size: 40px;
    line-height: 57px;
    padding-top: 50px;
  }
  .SeccionBeneficios {
    padding: 0px 60px;
  }
  .SeccionObjetivo {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse wrap;
            flex-flow: row-reverse wrap;
    padding: 0px 60px;
  }
  .Testimonios {
    height: 550px;
    width: 100%;
  }
  .Testimonios .container {
    max-width: 600px;
  }
  .Testimonios .container .testimonios__cards {
    margin: 40px 60px 0px 60px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
  }
  .Testimonios .container .testimonios__cards .card {
    border-radius: 25px;
  }
  .newsletter {
    padding: 30px 60px 100px 60px;
  }
  .newsletter .card {
    width: 100%;
    max-width: none;
  }
  .newsletter .card .newsletter__titulo {
    font-size: 40px;
    line-height: 57px;
  }
  .newsletter .card .newsletter__bajada {
    font-size: 22px;
    line-height: 32px;
    margin: 30px 0px;
  }
}

/* Responsive TABLET Ajuste Testimonios */
@media (min-width: 768px) {
  .container, .container-md, .container-sm {
    max-width: none;
  }
}

/* Responsive MOBILE */
@media (max-width: 576px) {
  .Hero .HeroGrid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse;
            flex-flow: column-reverse;
    padding: 0px 30px 30px 30px;
    max-width: none;
  }
  .Hero .HeroGrid .hero__titular {
    font-size: 30px;
    line-height: 40px;
    margin-top: 20px;
    text-align: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .Hero .HeroGrid .hero__bajada {
    display: none;
  }
  .Hero .HeroGrid .hero__botones {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .TituloSecundario {
    margin: 0px;
    padding: 40px 30px;
    font-size: 25px;
    line-height: 35px;
  }
  .SeccionBeneficios {
    padding: 0px 30px;
  }
  .SeccionObjetivo {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse wrap;
            flex-flow: row-reverse wrap;
    padding: 0px 30px;
  }
  .Testimonios {
    height: 550px;
    padding: 0px 30px;
  }
  .Testimonios .container {
    margin: 40px 30px 0px 30px;
  }
  .Testimonios .container .testimonios__cards {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
  }
  .Testimonios .container .testimonios__cards .card {
    border-radius: 25px;
    margin-bottom: 20px;
  }
  .Testimonios .container .testimonios__cards .card .card-body {
    font-size: 14px;
    line-height: 20px;
  }
  .Testimonios .container .testimonios__cards .card .Nombre, .Testimonios .container .testimonios__cards .card .Profesion {
    font-size: 16px;
  }
  .newsletter {
    padding: 50px 30px 100px 30px;
  }
  .newsletter .card {
    width: 100%;
  }
  .newsletter .card .newsletter__titulo {
    font-size: 25px;
    line-height: 35px;
  }
  .newsletter .card .newsletter__bajada {
    font-size: 15px;
    line-height: 25px;
    margin: 25px 0px;
  }
}

/* Sobre Nosotros */
.Carrousel {
  padding-top: 100px;
  margin-top: 0px;
  width: 100%;
  margin-bottom: 50px;
}

.Carrousel .carousel-inner img {
  width: 100%;
  margin-top: 0px;
}

.staff {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px 170px 70px 170px;
}

.staff .staff__miembro {
  margin: 30px 60px 20px 60px;
}

.staff .staff__miembro img {
  text-align: center;
}

.staff .staff__miembro .FotoRedonda {
  width: 180px;
  margin: 25px;
  border: 5px solid #CDDC6D;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 177px;
}

.staff .staff__miembro .Nombre, .staff .staff__miembro .Profesion {
  text-align: center;
}

/* Contactanos */
.contacto {
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 60px 120px;
}

.contacto .contacto__titulares {
  width: 20%;
  min-width: 300px;
  max-width: 350px;
}

.contacto .contacto__titulares h1 {
  font-size: 45px;
}

.contacto .contacto__form {
  width: 60%;
  min-width: 300px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.contacto .contacto__form fieldset {
  font-family: "Roboto", sans-serif;
  color: #00055C;
  margin-left: 30px;
  padding: 15px;
}

.contacto .contacto__form fieldset input, .contacto .contacto__form fieldset select, .contacto .contacto__form fieldset .form-check, .contacto .contacto__form fieldset button {
  margin-bottom: 15px;
}

.contacto .contacto__form .BotonesForm .BotonEnviar {
  background-color: #CDDC6D;
  width: 120px;
  margin: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  border-radius: 77px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-style: bold;
  color: #00055C;
}

.contacto .contacto__form .BotonesForm .BotonEnviar:hover {
  text-decoration: none;
  background-color: #00055C;
  color: #CDDC6D;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.contacto .contacto__form .BotonBorrar {
  width: 100px;
  margin: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-style: bold;
  color: #00055C;
}

.contacto .contacto__form .BotonBorrar:Hover {
  text-decoration: none;
  color: #00055C;
  border-bottom: 1px solid;
}

/* Responsive TABLET */
@media (min-width: 577px) and (max-width: 991px) {
  .staff {
    margin: 0px 60px 70px 60px;
  }
  .staff h2 {
    font-size: 40px;
    line-height: 57px;
  }
  .contacto {
    margin: 60px 60px;
  }
  .contacto .contacto__titulares {
    text-align: center;
    width: 100%;
  }
  .contacto .contacto__form {
    width: 100%;
  }
  .contacto .contacto__form fieldset {
    margin-left: 0px;
  }
}

/* Responsive MOBILE */
@media (max-width: 576px) {
  .Carrousel .carousel-inner img {
    height: 300px;
    width: auto;
    background-position: center;
  }
  .staff {
    margin: 0px 30px 70px 30px;
  }
  .staff h2 {
    font-size: 25px;
    line-height: 35px;
  }
  .staff .staff__miembro .FotoRedonda {
    width: 120px;
  }
  .contacto {
    margin: 30px 30px;
  }
  .contacto .contacto__titulares {
    width: 100%;
    text-align: center;
  }
  .contacto .contacto__titulares h1 {
    font-size: 30px;
    line-height: 40px;
  }
  .contacto .contacto__form {
    width: 100%;
  }
  .contacto .contacto__form fieldset {
    margin-left: 0px;
  }
  .contacto .contacto__form fieldset input, .contacto .contacto__form fieldset select, .contacto .contacto__form fieldset .form-check, .contacto .contacto__form fieldset button {
    margin-bottom: 25px;
  }
}

/* La App */
.laApp {
  padding-top: 100px;
}

.laApp .laApp__titulo {
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 40px 120px;
}

.laApp img {
  display: block;
  margin: 20px auto 70px auto;
}

/* Sección Pasos */
.laApp__pasos h3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.laApp__pasos .Paso2 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse;
          flex-flow: row-reverse;
}

.laApp__pasos .Pasos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 60px 200px;
}

.laApp__pasos .Pasos .PasosImg {
  width: 40%;
  min-width: 300px;
  max-width: 350px;
}

.laApp__pasos .Pasos .PasosTxt {
  width: 40%;
  min-width: 300px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.laApp__pasos .Pasos .PasosTxt .NumeroPasos {
  font-family: Roboto;
  color: #CDDC6D;
  font-style: normal;
  font-weight: bold;
  font-size: 55px;
  text-align: center;
  line-height: 67px;
  width: 80px;
  height: 80px;
  border: 8px solid #CDDC6D;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100%;
}

.laApp__pasos .Pasos .PasosTxt h5 {
  margin-top: 25px;
}

/* Sección Categorias */
.laApp__categorias {
  margin-top: 30px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
}

.laApp__categorias h3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.laApp__categorias .Contenedor {
  display: block;
  margin: 60px auto;
  height: 100%;
}

.laApp__categorias .Contenedor .row {
  margin-bottom: 20px;
}

.laApp__categorias .Contenedor .row .img {
  border: 2px solid #CDDC6D;
  border-radius: 25px;
  height: 200px;
}

.laApp__categorias .Contenedor .row .img p {
  color: #ffffff;
  background-color: #00055C;
  font-family: Roboto;
  font-size: 22px;
  text-align: center;
  margin-top: 90px;
}

@media all and (min-width: 900px) {
  .laApp__categorias .Contenedor .row .img p {
    visibility: hidden;
  }
  .laApp__categorias .Contenedor .row .img:hover {
    opacity: 50%;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
    -webkit-transform: scale(105%);
            transform: scale(105%);
  }
  .laApp__categorias .Contenedor .row .img:hover p {
    visibility: visible;
  }
}

.laApp__categorias .Contenedor .row .img1 {
  background-image: url(../Multimedia/app-categorias-energia.jpg);
  background-size: cover;
  background-position: center;
}

.laApp__categorias .Contenedor .row .img2 {
  background-image: url(../Multimedia/app-categorias-airelibre.png);
  background-size: cover;
  background-position: center;
}

.laApp__categorias .Contenedor .row .img3 {
  background-image: url(../Multimedia/app-categorias-transporte.jpg);
  background-size: cover;
  background-position: center;
}

.laApp__categorias .Contenedor .row .img4 {
  background-image: url(../Multimedia/app-categorias-compras.jpg);
  background-size: cover;
  background-position: bottom;
}

.laApp__categorias .Contenedor .row .img5 {
  background-image: url(../Multimedia/app-categorias-higiene.jpg);
  background-size: cover;
  background-position: center;
}

.laApp__categorias .Contenedor .row .img6 {
  background-image: url(../Multimedia/app-categorias-residuos.jpg);
  background-size: cover;
  background-position: center;
}

/* Sección Final Descargar */
.laApp__descargar {
  padding: 100px 120px;
  height: auto;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#F8FED1), color-stop(91.73%, rgba(248, 254, 209, 0)));
  background-image: linear-gradient(360deg, #F8FED1 0%, rgba(248, 254, 209, 0) 91.73%);
}

.laApp__descargar h1 {
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

/* Descargar */
.descargar {
  padding-top: 100px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  background-image: radial-gradient(47.4% 47.4% at 50% 50%, #CDDC6D 0%, rgba(205, 220, 109, 0) 100%);
}

.descargar .descargar__img {
  width: 50%;
  max-width: 550px;
  min-width: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.descargar .descargar__titular {
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0px 120px;
}

.estadisticas .estadisticas__titular {
  color: #00055C;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 20px 120px;
}

.estadisticas .estadisticas__contador {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  margin: 35px;
}

.estadisticas .estadisticas__contador .Items {
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: #1A6534;
  margin-bottom: 25px;
  width: 150px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.estadisticas .estadisticas__contador .Items p {
  margin-top: 15px;
}

.estadisticas .estadisticas__contador .Items img:active {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: 1s;
  transition: 1s;
}

/* Responsive TABLET */
@media (min-width: 577px) and (max-width: 991px) {
  .laApp .laApp__titulo {
    margin: 40px 60px;
    font-size: 40px;
    line-height: 57px;
  }
  .laApp__categorias .Contenedor {
    display: block;
    margin: 60px auto;
  }
  .laApp__categorias .Contenedor p {
    margin-top: 40px;
  }
  .laApp__descargar {
    padding: 100px 60px;
  }
  .laApp__descargar h1 {
    font-size: 50px;
    line-height: 60px;
  }
  .descargar .descargar__titular {
    font-size: 50px;
    line-height: 60px;
    margin: 0px 60px;
  }
  .descargar .BotonesDescargar .BotonLinkExterno {
    margin: 15px;
  }
  .estadisticas .estadisticas__contador {
    margin: 35px 150px;
  }
}

/* Responsive MOBILE */
@media (max-width: 576px) {
  .laApp .laApp__titulo {
    margin: 40px 30px;
    font-size: 25px;
    line-height: 35px;
  }
  .laApp img {
    width: 10%;
  }
  .laApp__pasos .Pasos {
    margin: 60px 30px;
  }
  .laApp__pasos .Pasos .PasosImg {
    width: 80%;
    min-width: 100px;
  }
  .laApp__pasos .Pasos .PasosTxt {
    width: 70%;
    min-width: 100px;
  }
  .laApp__pasos .Pasos .PasosTxt h5 {
    margin-top: 25px;
    font-size: 18px;
    line-height: 28px;
  }
  .laApp__categorias .Contenedor {
    display: block;
    margin: 30px auto;
    width: 80%;
  }
  .laApp__categorias .Contenedor .img1, .laApp__categorias .Contenedor .img3, .laApp__categorias .Contenedor .img5 {
    margin-bottom: 20px;
  }
  .laApp__categorias .Contenedor p {
    margin-top: 40px;
  }
  .laApp__descargar {
    padding: 100px 30px;
  }
  .laApp__descargar h1 {
    font-size: 30px;
    line-height: 40px;
  }
  .laApp__descargar .BotonesDescargar .BotonLinkExterno {
    width: 140px;
    margin: 15px;
  }
  .descargar .descargar__img {
    width: 30%;
    min-width: 270px;
  }
  .descargar .descargar__titular {
    font-size: 30px;
    line-height: 40px;
    margin: 0px 30px;
  }
  .descargar .BotonesDescargar .BotonLinkExterno {
    width: 140px;
    margin: 15px;
  }
  .estadisticas .estadisticas__titular {
    font-size: 22px;
    line-height: 32px;
    margin: 20px 30px;
  }
  .estadisticas .estadisticas__contador {
    margin: 0px 100px;
  }
}

/* Error 404 */
.error404 {
  margin-top: 150px;
  margin-right: 0px;
}

.error404 .error404__img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right;
     object-position: right;
}

.error404 .error404__texto {
  margin: 30px 0px;
  padding: 45px 60px 45px 0px;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

.error404 .error404__texto .error404__titulo {
  text-align: left;
}

.error404 .error404__texto .error404__bajada {
  text-align: left;
  margin-top: 20px;
  margin-bottom: 40px;
}

.error404 .error404__texto .error404__boton {
  background-color: #CDDC6D;
  width: 120px;
  padding: 10px;
  border-radius: 77px;
  text-decoration: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Roboto", sans-serif;
  font-style: bold;
  color: #00055C;
}

.error404 .error404__texto .error404__boton:hover {
  text-decoration: none;
  background-color: #00055C;
  color: #CDDC6D;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

/* Responsive TABLET */
@media (min-width: 577px) and (max-width: 991px) {
  .error404 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse;
            flex-flow: column-reverse;
  }
  .error404 .error404__img {
    max-width: 800px;
  }
  .error404 .error404__texto {
    margin: 0px 0px;
    padding: 0px 60px 0px 60px;
  }
  .error404 .error404__texto .error404__titulo {
    text-align: center;
    font-size: 40px;
    line-height: 57px;
  }
  .error404 .error404__texto .error404__bajada {
    text-align: center;
    font-size: 22px;
    line-height: 32px;
  }
  .error404 .error404__texto .error404__boton {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    margin-bottom: 40px;
  }
}

/* Responsive MOBILE */
@media (max-width: 576px) {
  .error404 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse;
            flex-flow: column-reverse;
  }
  .error404 .error404__img {
    max-width: 800px;
  }
  .error404 .error404__texto {
    margin: 0px 0px;
    padding: 0px 30px 0px 30px;
  }
  .error404 .error404__texto .error404__titulo {
    text-align: center;
    font-size: 40px;
    line-height: 57px;
  }
  .error404 .error404__texto .error404__bajada {
    text-align: center;
    font-size: 22px;
    line-height: 32px;
  }
  .error404 .error404__texto .error404__boton {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    margin-bottom: 40px;
  }
}
* {
  margin: 0;
  padding: 0;
}

/* Textos */
/* Titulos principales */
h1 {
  color: #1A6534;
  font-family: Filson Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 62px;
  line-height: 75px;
}

/* Titulos variante */
h2 {
  font-family: Filson Pro;
  font-style: italic;
  font-weight: normal;
  color: #00055C;
  font-size: 55px;
  line-height: 73px;
  text-align: center;
}

/* Titulos secciones */
h3 {
  background-color: #CDDC6D;
  color: #00055C;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 20px;
  letter-spacing: 3px;
  margin-top: 8px;
  margin-bottom: 10px;
  padding: 3px;
}

/* Textos */
h4 {
  color: #00055C;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 33px;
}

/* Textos destacados */
h5 {
  color: #1A6534;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 40px;
}

/* Footer */
h6 {
  color: #ffffff;
  margin-top: 8px;
  margin-bottom: 8px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 20px;
  text-align: left;
}

/* Extra Testimonios/Staff */
.Nombre {
  font-family: Filson Pro;
  color: #1A6534;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  margin-bottom: 0px;
}

.Profesion {
  font-family: Filson Pro;
  color: #00055C;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}

/* Botones iOS+Android */
.BotonesDescargar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 20px 0px 30px 0px;
}

.BotonesDescargar .BotonLinkExterno {
  width: 170px;
  margin: 30px;
}
/*# sourceMappingURL=estilo.css.map */